@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:  'Be Vietnam Pro', sans-serif;
    
}

img{
    height: 100%;
}

body{
    background-color: #f7f1e9;
    height: 100vh;
}

header{
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    margin: 0px 15px;
    width: 40%;
}


nav ul li a{
    text-decoration: none;
    color: #3c434dcc;
    font-weight: 900;
    font-size: 16px;
    margin: 0px 15px;
    padding: 6px 15px;

}

nav ul li a:hover{
    transition: 0.8s ;
    color: black;

}

.icon{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.icon a img {
    height: 30px;
    width: auto;
    margin: 0px 15px;
    
    
}

.icon #cel{
    transform: rotate(90deg);
}

#btn-mobile{
    display: none;
}

main{
    margin-top: 35px;

}

.container{
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: 40%;
}

.description p{
    color: #3c434dcc;
    max-width: 270px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px; 
}

.description p#line{
    border-left: 3px solid #32353898;
    margin-left: 13px; 
}


.description h1{
    max-width: 530px;
    min-width: 365px;
    font-size: 60px;
    padding: 10px; 
    color: #32353E;
    
    
}


.btn{
    margin-top: 20px;
}
.btn input{
    text-decoration: none;
    color: black;
    padding: 10px 21px;
    border-radius: 20px;
    margin-right: 5px;
}

.btn .shop{
    background-color: #FFCC81;
    border: 0px;
}

.btn .shop:hover{
    background-color: #DD7F41;
    transition: 0.6s ease-in-out;
}

.btn .services{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.btn .services:hover{
    background-color: #B0B0B2;
    transition: 0.6s ease-in-out;
}


.dog{
    width: 40%;
}

.dog img{
    height: 74vh;
    width: auto;
    
}

footer{
    padding: 15px;
}

@media (max-width: 920px)
{   
    .container{
        height: 65vh;
        margin-top: 64px;
    }
    .description{
        width: 45%;
    }
    .dog{
        width: 45%;
    }
    .dog img{
        height: 57vh;
        width: auto;
    }

}

@media (max-width: 766px)
{
    header{
        display: flex;
        justify-content: flex-end;
    }
    .icon{
        display: none;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 58px;
        right: 0;
        background: #f7f1e9;
        transition: .4s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;   
    }

    #body.active {
        overflow-y: hidden;
    }

    #nav.active #menu {
        height:calc(100vh + 2px);
        visibility: visible;
        overflow-y: auto;
        margin: 0;        
    }
    
    #menu li{
        padding: 16px 0;
        margin: 0 16px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    }

    #btn-mobile{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        margin-right: 14px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;

    }
    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top: transparent;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .container{
        height: auto;
        margin-top: 25px;
        display: flex;
        flex-direction: column-reverse;
        
    }

    .dog{
        height: 334px;
        width: 334px;
    }
    .description{
        margin-top: 30px;
        padding: 0;
        height: 100%;
        width: 334px;
    }

}

@media (max-width: 325px)
{
    #nav.active #menu {
        width: 349px;
        height: calc(100vh + 24px);
        visibility: visible;
        overflow-y: auto;
        margin: -22px;
    }
}